/* reset */

*
    {
    margin:0;
    padding:0;
    }


/* global */

header nav main article aside footer
    {
    display:block;
    }


@font-face {
    font-family: 'Proxima Nova ScOsf Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova ScOsf Regular'), url('Mark Simonson - Proxima Nova ScOsf Regular.woff') format('woff');
    }

body
    {
    background: #DE6262; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family:'Raleway', sans-serif;
    } 



/* containers and positioning */

#logo-header
  {
  margin: 0px;
  padding: 25px 25px 0px;
  height: 50px;
  }

nav
  {
  height:50px;
  width:30%;
  float:right;  
  text-align: right;
  }

nav ul
    {
    clear:both;
    font-size:1.4em;
    padding-top:1em;
    }

nav ul li
    {
    display:inline;
    padding-right:40px;
    }

#borderWrapper
    {
    width:960px;
    margin: 2em auto;
    }

#wrapper
    {
    width:720px;
    margin: 0px auto;
    text-align: center;
    padding-top: 40px;
    }

#festWrapper
    {
    width:1000px;
    margin: 10px auto;
    margin-bottom: 50px;
    padding: 20px;
    }

.coachella
    {
    background-image: url(../images/backgrounds/coachella2.jpg);
    /* background-attachment:fixed; */
    }

.crssd
    {
    background-image: url(../images/backgrounds/crssd.png);
    }

.ultra
    {
    background-image: url(../images/backgrounds/ultra.png);
    }


.stream
    {
    width:50%;
    float: left;
    margin-bottom:70px;
    }

.vr
    {
    width:50%;
    float: right;
    margin-bottom:70px;
    }

header
    {
    margin: 0px;
    padding: 0px;
    }

#all-tiles
  {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  padding-top: 40px;
  }

.tile
  {
  width: 300px;
  float:left;
  height: 300px;
  margin: 10px;
  display: inline-block;
  }

.tile:hover
  {
  box-shadow:0 0 25px #111;
  }

#readyButton
  {
  background-image: url(../images/ready.png);
  width:250px;
  height:100px;
  } 

#readyButton:hover
  {
  background-image: url(../images/ready3.png);
  width:250px;
  height:100px;
  } 

footer 
  {
  display:block;
  width: 100%;
  height:100%;
  padding: 50px 0px 10px;
  margin: 50px 0px;
  overflow: hidden;
  border-top: thick double #ffd24d;
  }


/* text styling */    

header div h1 /* FestiVR on home page */
    {
    font-family: 'proxima_nova_scosflight', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #FAFAFA;
    text-align: center;
    margin: 0px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    }

a /* About link in NAV bar */
    {
    text-decoration: none;
    color:#FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    }

a:hover
    {
    color: #ffd24d;
    }

header p
    {
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: white;
    font-size: 22px;
    margin-top: -100px;
    }

h1 
  {
  font-family: 'proxima_nova_scosflight', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 5px;
  }

h2 /* description on home page */
  {
  font-family: 'Raleway', sans-serif;  
  font-size: 40px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  }

h3 /* section headers (i.e. ABOUT) */
  {
  font-family: 'proxima_nova_scosflight', sans-serif;
  font-size: 60px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  margin: 0px;
  border-top: thick double #ffd24d;
  padding-top: 20px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

h4 /* "Click below to view the Coachella live stream." */
  {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 5px;
  }

p
    {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    }

footer p
    {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    }



/* image elements */    

img
    {
    max-width: 100%;
    max-height: 100%;
    }

.imgBorder
    {
    border: 1px #fff solid;
    margin: 10px;
    padding: 10px;
    }

.imgBorder:hover
    {
    border: 1px #ffd24d solid;
    }

#lightbox /* black overlay */
    {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:url(../images/overlay.png) repeat; 
    text-align:center;
    }

#lightbox p 
    {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
    }

#lightbox img 
    {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
    }

select, input /* dropdown menu text for artists */
    {
    display: block;
    width: 210px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #f9886b;
    height: 60px;
    }

label
    {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #00a9a8;
    padding-bottom: 20px;
    padding-left: 20px;
    }

select
    {
    padding-left: 10px;
    -webkit-appearance: none;
     background: #00D4D3  ;
    border-radius: 0px;
    }

select:hover
    {
    background-image: url("../img/arrowHover.png");
    }


/*FONTS - PROXIMA NOVA SC OSF*/

@font-face {
    font-family: 'proxima_nova_scosfblack';
    src: url('proxima_nova_scosf_black-webfont.eot');
    src: url('proxima_nova_scosf_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_scosf_black-webfont.woff2') format('woff2'),
         url('proxima_nova_scosf_black-webfont.woff') format('woff'),
         url('proxima_nova_scosf_black-webfont.ttf') format('truetype'),
         url('proxima_nova_scosf_black-webfont.svg#proxima_nova_scosfblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_scosf_rgbold';
    src: url('proxima_nova_scosf_bold-webfont.eot');
    src: url('proxima_nova_scosf_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_scosf_bold-webfont.woff2') format('woff2'),
         url('proxima_nova_scosf_bold-webfont.woff') format('woff'),
         url('proxima_nova_scosf_bold-webfont.ttf') format('truetype'),
         url('proxima_nova_scosf_bold-webfont.svg#proxima_nova_scosf_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_scosflight';
    src: url('proxima_nova_scosf_light-webfont.eot');
    src: url('proxima_nova_scosf_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_scosf_light-webfont.woff2') format('woff2'),
         url('proxima_nova_scosf_light-webfont.woff') format('woff'),
         url('proxima_nova_scosf_light-webfont.ttf') format('truetype'),
         url('proxima_nova_scosf_light-webfont.svg#proxima_nova_scosflight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_scosf_rgregular';
    src: url('proxima_nova_scosf_reg-webfont.eot');
    src: url('proxima_nova_scosf_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_scosf_reg-webfont.woff2') format('woff2'),
         url('proxima_nova_scosf_reg-webfont.woff') format('woff'),
         url('proxima_nova_scosf_reg-webfont.ttf') format('truetype'),
         url('proxima_nova_scosf_reg-webfont.svg#proxima_nova_scosf_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_scosfsemibold';
    src: url('proxima_nova_scosf_sbold-webfont.eot');
    src: url('proxima_nova_scosf_sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_scosf_sbold-webfont.woff2') format('woff2'),
         url('proxima_nova_scosf_sbold-webfont.woff') format('woff'),
         url('proxima_nova_scosf_sbold-webfont.ttf') format('truetype'),
         url('proxima_nova_scosf_sbold-webfont.svg#proxima_nova_scosfsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('proxima_nova_scosf_thin-webfont.eot');
    src: url('proxima_nova_scosf_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_scosf_thin-webfont.woff2') format('woff2'),
         url('proxima_nova_scosf_thin-webfont.woff') format('woff'),
         url('proxima_nova_scosf_thin-webfont.ttf') format('truetype'),
         url('proxima_nova_scosf_thin-webfont.svg#proxima_nova_scosfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_scosfextrabold';
    src: url('proxima_nova_scosf_xbold-webfont.eot');
    src: url('proxima_nova_scosf_xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_scosf_xbold-webfont.woff2') format('woff2'),
         url('proxima_nova_scosf_xbold-webfont.woff') format('woff'),
         url('proxima_nova_scosf_xbold-webfont.ttf') format('truetype'),
         url('proxima_nova_scosf_xbold-webfont.svg#proxima_nova_scosfextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}